body, html{
    font-size: 16px;
    font-style :italic;    
    margin:0;
    color: white;

}

 ul, li{
     list-style-type: none;
     display: inline;
     padding-right: 100px;
     color: white;
 }
 
li,ul,ol.scroll, p{
    list-style-type: none;
    content: " ";
    color: white;
    padding:20px;
  
    /*the ordered and unordered list*/
}
#background{
background-image: url('images/dark.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: absolute;
}

div{
    text-align: center; 
    font-size : 20px;        /*ACHTUNG HIERBEI*/
   }   


#header{
    float: top;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;

}

#footer{
    font-size: 20px;
    width: 100%;
    height: 50px;
    float: top;
    background-color: lightblue;
    border: 1.5px solid whitesmoke;
   /*Nur die Startseite ist bisher angepasst*/
}


#frm{
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: whitesmoke;
    padding: 0%;
    font-size:20px;
}
.button{
    color:white;
    border: 1px lightblue;
    padding-block-end: 12px;

}
.button:active{
    vertical-align: top;
    padding: 10px 5px 5px;
}



.button:hover{
    box-shadow: 0 12px 16px 0 rgba(202, 202, 202, 0.24), 0 17px 50px 0 rgba(214, 214, 214, 0.19);
    /*Ja, der Schatten ist kopiert
    Link zur Quelle(08.01.2019): https://www.w3schools.com/css/css3_buttons.asp
    */
} 
  

       
a:link {color:whitesmoke;}
a:visited{color:whitesmoke}
a:hover{text-decoration: underline; }
a:focus {color: rgb(255, 255, 255);}
a:hover {color:whitesmoke;}
a:active {color: white;}


 